@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
/* 
Prueba colores
fondo #2a2a72 azul osc
formularios #4c2885 violeta
letras blancas */

/* Original
--nav-bar-color: #252a34a9 ;
--background-color: #f0f0f0;
--background-color-container: white ;
--background-color-footer: steelblue;
--background-color-footer-container: #2a4e6c; */

:root {
    --nav-bar-color: #252a34a9 ;
    --background-color: background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(220,248,255,1) 100%);
    --background-color-container: white ;
    --background-color-footer: steelblue;
    --background-color-footer-container: #2a4e6c;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
}


/* ////////////////////////////////////////////////// */


/* Comienzo de navbar */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 0.5fr;
    grid-template-areas: 
    "navbar navbar"
    "main main"
    "footer footer";
}

.header {
    grid-area: navbar;
    position: fixed;
    z-index: 100; 
}

.header nav {
    background-color: var(--nav-bar-color)!important;
    width: 100vw;
}

.header nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header nav a h1 {
    font-family: 'Covered By Your Grace';
    font-size: 3.5rem;
    margin-left: 20px;
    font-weight: lighter;
}

.header nav ul {
     flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.header nav ul li a {
    margin-right: 15px;
    padding: 7px 15px;
    font-size: 1.5rem;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
    font-weight: bold;
    text-transform: uppercase;
}

.header nav ul li a:hover {
    transform: scale(1.015);
    color: #c0392b;
} 
/* Tamaño de icono de cuando el navbar se achica */
.header .navbar-toggler-icon {
    width: 20px;
    height: 20px;
}
/* Navbar hasta aca */


/* ////////////////////////////////////////////////// */


/* index */
.main {
    grid-area: main;
}
/* Imagen de bienvenida */
.hero {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),   url("../img/bienvenida3.jpg");
    background-color: steelblue;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero div {
    font-family: 'Covered By Your Grace';
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 4rem;
}
.hero div h2 {
    font-size: 5.5rem;
}
.hero div h3 {
    font-size: 5rem;
}

.hero img {
    height: 75px;
    width: 75px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -15%);
}
/* Fin de imagen de bienvenida */

/* Seccion de acerca de nosotros */
.about {
    background-color: var(--background-color-container);
    box-shadow: 3px 3px 0px 0px #00000060;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
}
.about img {
    max-width: 700px;
    max-height: 526px;
}
/* Fin de seccion de acerca de nosotros */

/* Comienzo seccion de ofertas*/
.ofertas {
    background-color: var(--background-color-container);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    box-shadow: 3px 3px 0px 0px #00000060;
}
/* Fin de seccion de ofertas */

/* Comienzo seccion nuestros clientes */
.clientes {
    background-color: var(--background-color-container);
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    box-shadow: 3px 3px 0px 0px #00000060;
    padding: 5px;
}
.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
}
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
}

/* Fin de seccion de nuestros clientes */
/* index hasta aca */


/* ////////////////////////////////////////////////// */


/* Comienzo pages/contacto */
.contacto {
    height: auto;
    display: flex;
    justify-content: center;
}

.contacto .form {
    background-color: var(--background-color-container);
    height: auto;
    width: 75vw;
    margin: 125px 0px 30px 25px;
    padding: 10px;
    box-shadow: 2px 2px 0px 0px #00000069;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-x: hidden;
}

.contacto .form p {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 20px 0px 0px 15px ;
}

.contacto .form img {
    display: flex;
    height: 30px;
    width: 30px;
    border: 1px solid rgb(0, 0, 0);
}

.contacto .form input {
    font-size: 1.3rem;
    height: 30px;
    width: 90%;
    margin: 25px 10px 0px -1px;
    padding-left: 5px;
}

.contacto .form .name {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.contacto .form .email {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.contacto .form .phone-number {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.contacto .form .area {
    width: 125px;
}

.contacto .form .number {
    width: 350px;
}

.contacto .form .phone-check {
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 1.2rem;
}

.contacto .form .phone-check input {
    height: 20px;
    width: 20px;
    margin-left: 10px;
}

.contacto .form .consulta textarea{
    height: 30vh;
    width: 80%;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    box-shadow: 3px 3px 0px 0px #00000077;
    font-size: 1.5rem;
}

.contacto .form .btn-enviar-consulta {
    background: lightblue;
    height: 40px;
    width: 200px;
    margin: 40px;
    border: 0;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
}

.contacto .form .btn-enviar-consulta:hover {
    background-color: steelblue;
}
/* Fin contacto.html */


/* ////////////////////////////////////////////////// */


/* Comienzo opiniones.html */
.opiniones {
    height: auto;
    display: flex;
    justify-content: center;
}

.opiniones .opinion {
    height: auto;
    width: 75vw;
    margin: 150px 0px 30px 0;
    padding: 10px;
    background-color: var(--background-color-container);
    box-shadow: 0px 2px 2px 0px #00000069;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.opiniones .opinion div {
    height: auto;
    margin: 10px;
    padding: 5px;
    background-image: url("../img/icons/opinion.png");
    background-size: 30px;
    background-repeat: no-repeat;
    border: 1px solid rgba(2, 2, 2, 0.438);
    font-size: 1.8rem;
    justify-content: center;
}

.opiniones .opinion div h3 {
    margin: 7px 0px 0px 30px;
    font-size: 1.5rem;
}

/* Formulario */
.opinar {
    height: auto;
    display: flex;
    justify-content: center;
}

.opinar .form {
    width: 75vw;
    margin: 23px 0px 30px 0;
    padding: 10px;
    background-color: var(--background-color-container);
    box-shadow: 0px 2px 2px 0px #00000069;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.opinar .form p {
    font-size: 1.8rem;
    font-weight: 500;
    margin: 20px 0px 0px 15px ;
}

.opinar .form input {
    font-size: 1.8rem;
    height: 30px;
    width: 70%;
    margin: 25px 10px 0px -1px;
    padding-left: 5px;
}

.opinar .form div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.opinar .form div img {
    display: flex;
    height: 30px;
    width: 30px;
    border: 1px solid rgb(0, 0, 0);
}

.opinar .form .name input {
    width: 50%;
}

.opinar .form  textarea{
    height: 30vh;
    width: 60vw;
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    box-shadow: 3px 3px 0px 0px #00000077;
    font-size: 1.8rem;
}

.opinar .form .btn-enviar-opinion {
    background: lightblue;
    height: 40px;
    width: 200px;
    margin: 3%;
    border: 0;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
}

.opinar .form .btn-enviar-opinion:hover {
    background-color: steelblue;
}
/* Fin opiniones.html */


/* ////////////////////////////////////////////////// */


/* Viajes en Argentina */
.hero-viajesArg {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),   url("../img/viajesArgBienvenida.jpg");
    background-color: steelblue;
    background-position: inherit;
    background-size: contain;
    background-attachment: fixed;
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-viajesArg h3 {
    font-family: 'Covered By Your Grace';
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 4rem;
}
/* Fin viajes Argentina */


/* ////////////////////////////////////////////////// */


/* Viajes Internacionales */
.hero-viajesInt {
    background: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),   url("../img/viajesIntBienvenida.jpg");
    background-color: steelblue;
    background-position: inherit;
    background-size: contain;
    background-attachment: fixed;
    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-viajesInt h3 {
    font-family: 'Covered By Your Grace';
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 4rem;
}
/* Fin viajes Internacionales */


/* ////////////////////////////////////////////////// */


/* Comienzo de footer */
.footer {
    grid-area: footer;
    background-color: var(--background-color-footer);
    height: auto;
    width: 100%;
    color: #EAEAEA;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "form desarrollador redes";
    justify-items: center;
    align-items: center;
}

/* Formulario de subscripcion al email */
.footer .formulario {
    background-color: var(--background-color-footer-container);
    height: 300px;
    width: 480px;
    grid-area: form;
}
/* Fin de formulario de subscripcion al email */

/* Numero de telefono y redes de contacto */
.footer .contacto-redes {
    background-color: var(--background-color-footer-container);
    height: 300px;
    width: 480px;
    grid-area: redes;
}
.footer .contacto-redes .iconos-redes-sociales img{
    height: 50px;
    width: 50px;
    margin: 10px;
}
/* Fin parte numero de telefono y redes de contacto */

/* Contactar al desarrollador */
.footer .contacto-desarrollador {
    height: 100px;
    width: 120px;
    grid-area: desarrollador;
}
.footer .contacto-desarrollador img {
    height: 50px;
    width: 50px;
    margin-left: 5px;
}
/* Fin contactar al desarrollador */
/* Fin del footer */

/* Transformaciones para inputs en formularios */
.transf:focus {
    transition: ease-in-out 0.3s;
    transform: scale(1.03);
    border: 2px solid;
}
.transf-trans:focus {
    transition: ease-in-out 0.3s;
    transform: scale(1.02) translateX(1%);
    border: 2px solid;
}
/* Transiciones iconos */
.transf-icons {
    transition: all 0.3s ease-in-out;
}
.transf-icons:hover {
    transform: scale(1.03);
}
/* Transiciones cards */
.trans-cards{
    transition: all 0.3s ease-in-out;
}
.trans-cards:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 2px 2px #00000069;
}
/* ////////////////////////////////////////////////// */

/* media queries */


@media screen and (max-width: 1280px) {

    /* viajesArg.html */
    .hero-viajesArg {
        background-size: inherit;
    }

    /* viajesInt.html */
    .hero-viajesInt {
        background-size: inherit;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 1060px) {
    
    .grid-container {
        grid-template-areas: 
        "navbar"
        "main"
        "footer";
    }
    /* NavBar */
   
    .header nav .logo-size {
        width: 50px;
        height: 50px;
    }
    .header nav a h1 {
        font-size: 2.5rem;
    }
    /* Fin de NavBar */

    /* contacto.html */
    .contacto .form {
        margin-top: 100px; 
    }
    /* fin de contacto.html */

    /* opiniones.html */
    .opiniones .opinion {
        margin-top: 165px;
        width: 90vw;
    }
    .opinar .form {
        width: 85vw;
        align-content: unset;
    }
    /* Fin de opiniones.html */

    /* Footer */
    .footer {
        grid-template-areas: 
        "form"
        "redes"
        "desarrollador";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 150px;
    }
    /* Fin de footer */
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 870px) {
    .header nav a h1 {
        margin-left: 0px;
    }
    
    .header nav ul li a {
        margin-right: 0px;
        padding: 0px 0px;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {

    html {
        font-size: 55%;
    }    

    /* contacto.html */
    .contacto .form {
        margin: 100px 0px 30px 0%;
        width: 95vw;
    }
    .contacto .form .phone-number {
        margin-top: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .contacto .form .area {
        margin-top: 5px;
    }
    .contacto .form .number {
        margin-top: 5px;
        width: 350px;
    }
    .contacto .form .phone-check {
        width: 55%;
        margin: 15px;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
    .contacto .form .phone-check p {
        margin-top: 5px;
    }
    .contacto .form .phone-check input {
        margin: 10px 0 10px 100px;
    }
    /* fin de contacto.html */

    /* opiniones.html */
    .opiniones .opinion {
        margin-top: 210px;
    }
    /* Fin de opiniones.html */
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 576px) {
    .cards-viajes {
        margin: 8px;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 480px) {

    html {
        font-size: 50%;
    }    

     /* contacto.html */
    .contacto .form .number {
        width: 95%;
    }
    .contacto .form .consulta textarea{
        width: 95%;
    }
    /* fin de contacto.html */

    /* opiniones.html */
    .opiniones .opinion {
        width: 98%;
        margin-bottom: 0px;
    }
    .opinar .form {
        width: 95%;
    }
    .opinar .form input{
        width: 80%;
    }
    .opinar .form .name {
        margin-top: 25px;
        flex-direction: column;
        align-items: flex-start;
    }
    .opinar .form .name .nomb {
        margin-top: 5px;
        width: 90%;
    }
    .opinar .form .name .ap {
        margin-top: 5px;
        width: 90%;
    }
    .opinar .form  textarea{
        width: 90%;
    }
    /* Fin de opiniones.html */

    /* Footer */
    .footer .formulario {
        height: auto;
        width: 96%;
    }
    .footer .contacto-redes {
        height: auto;
        width: 96%;
        margin: 5px;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 320px) {

    /* contacto.html */
    .contacto .form {
        margin: 210px 0 30px 0;
        width: 100vw;
    }
    .contacto .form .number {
        width: 280px;
    }
    .contacto .form .phone-check {
        width: 90%;
    }
    /* fin de contacto.html */
    }
