/* Comienzo de footer */
.footer {
    grid-area: footer;
    background-color: $background-color-footer;
    @include sizes(auto ,100% );
    color: #EAEAEA;
    display: grid;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "form desarrollador redes";
    justify-items: center;
    align-items: center;

    .formulario {
        background-color: $background-color-footer-container;
        @include sizes(300px, 480px);
        grid-area: form;
    }

    .contacto-redes {
        background-color: $background-color-footer-container;
        @include sizes(300px, 480px);
        grid-area: redes;
    }

    .iconos-redes-sociales img {
        @include sizes(50px, 50px);
        margin: 10px;
    }

    .contacto-desarrollador {
        @include sizes(100px, 120px);
        grid-area: desarrollador;

        img {
            @include sizes(50px, 50px);
            margin-left: 5px;
        }
    }
}