// extends

%boxform {
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 0px 0px #00000060;
    border-radius: 2px;
}

// map

$colores: (
    hero: steelblue,
    about: white,
    ofertas: white,
    clientes: white,
);

/* --- index --- */

main {
    grid-area: main;
}

/* Imagen de bienvenida */
.hero {
    @include sizes(100vh ,100vw );
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), url("../img/bienvenida3.jpg");
    background-color: map-get($colores, hero);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
        font-family: 'Covered By Your Grace';
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        font-size: 4rem;

        h2 {
            font-size: 5.5rem;
        }

        h3 {
            font-size: 5rem;
        }
    }

    img {
        @include sizes(75px ,75px );
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -15%);
    }
}

/* Seccion de acerca de nosotros */
.about {
    @extend %boxform;
    background-color: map-get($colores, about);
    
    img {
        max-width: 700px;
        max-height: 526px;
    }
    
}

/* Comienzo seccion de ofertas*/
.ofertas {
    @extend %boxform;
    background-color: map-get($colores, ofertas);
    
}


/* Comienzo seccion nuestros clientes */
.clientes {
    @extend %boxform;
    background-color: map-get($colores, clientes);
    padding: 5px;
}

.carousel-control-prev-icon {
    @include sizes(50px ,50px );
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-next-icon {
    @include sizes(50px ,50px );
    background-color: rgba(0, 0, 0, 0.5);
}

/* index hasta aca */

/* ////////////////////////////////////////////////// */

/* --- Comienzo pages/contacto --- */
.contacto {
    height: auto;
    display: flex;
    justify-content: center;

    .form {
        @include sizes(auto ,75vw );
        @extend %boxform;
        background-color: $background-color-container;
        margin: 125px 0px 30px 25px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        overflow-x: hidden;

        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 20px 0px 0px 15px;
        }

        img {
            @include sizes(30px ,30px );
            display: flex;
            border: 1px solid rgb(0, 0, 0);
        }

        input {
            @include sizes(30px, 90% );
            font-size: 1.8rem;
            margin: 25px 10px 0px -1px;
            padding-left: 5px;
        }

        .name {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        .email {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        .phone-number {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
        }

        .area {
            width: 125px;
        }

        .number {
            width: 350px;
        }

        .phone-check {
            padding: 0px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;
            font-size: 1.2rem;

            input {
                @include sizes(20px ,20px );
                margin-left: 10px;
            }
        }

        .consulta textarea {
            @include sizes(30vh ,80% );
            @extend %boxform;
            margin: 5px;
            padding: 5px;
            font-size: 1.5rem;
        }

        .btn-enviar-consulta {
            @include sizes(40px ,200px );
            background: lightblue;
            margin: 40px;
            border: 0;
            border-radius: 5px;
            transition: ease-in-out 0.3s;
            font-size: 1.5rem;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: steelblue;
            }
        }
    }
}

/* ////////////////////////////////////////////////// */

/* --- Comienzo opiniones.htm --- */
.opiniones {
    height: auto;
    display: flex;
    justify-content: center;

    .opinion {
        @include sizes(auto, 75vw );
        @extend %boxform;
        margin: 150px 0px 30px 0;
        padding: 10px;
        background-color: $background-color-container;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 1.8rem;

        h3 {
            font-size: 2rem;
        }

            .icono-user {
                background-image: url("../img/icons/opinion.png");
                background-size: 30px;
                background-repeat: no-repeat;
                margin: 4px;
            }
        }
}

/* Formulario */
.opinar {
    height: auto;
    display: flex;
    justify-content: center;

    .form {
        @extend %boxform;
        width: 75vw;
        margin: 23px 0px 30px 0;
        padding: 10px;
        background-color: $background-color-container;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

        p {
            font-size: 1.8rem;
            font-weight: 500;
            margin: 20px 0px 0px 15px;
        }

        input {
            @include sizes(30px ,70% );
            font-size: 1.8rem;
            margin: 25px 10px 0px -1px;
            padding-left: 5px;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: flex-end;

            img {
                @include sizes(30px ,30px );
                display: flex;
                border: 1px solid rgb(0, 0, 0);
            }
        }

        .name input {
            width: 50%;
        }

        textarea {
            @include sizes(30vh ,60vw );
            @extend %boxform;
            margin: 5px;
            padding: 5px;
            font-size: 1.8rem;
        }

        .btn-enviar-opinion {
            @include sizes(40px ,200px );
            background: lightblue;
            margin: 3%;
            border: 0;
            border-radius: 5px;
            transition: ease-in-out 0.3s;
            font-size: 1.5rem;
            cursor: pointer;
            text-align: center;

            &:hover {
                background-color: steelblue;
            }
        }

    }
}

/* ////////////////////////////////////////////////// */

/* --- Viajes en Argentina --- */

.hero-viajesArg {
    @include sizes(60vh ,100vw );
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/viajesArgBienvenida.jpg");
    background-color: map-get($colores, hero);
    background-position: inherit;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-family: 'Covered By Your Grace';
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        font-size: 4rem;
    }
}

/* ////////////////////////////////////////////////// */

/* --- Viajes Internacionales --- */

.hero-viajesInt {
    @include sizes(60vh ,100vw );
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/viajesIntBienvenida.jpg");
    background-color: map-get($colores, hero);
    background-position: inherit;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-family: 'Covered By Your Grace';
        color: rgba(255, 255, 255, 0.9);
        text-align: center;
        font-size: 4rem;
    }
}

/* ////////////////////////////////////////////////// */

/* Transformaciones para inputs en formularios */
.transf:focus {
    transition: ease-in-out 0.3s;
    transform: scale(1.03);
    border: 2px solid;
}

.transf-trans:focus {
    transition: ease-in-out 0.3s;
    transform: scale(1.02) translateX(1%);
    border: 2px solid;
}

/* Transiciones iconos */
.transf-icons {
    transition: all 0.3s ease-in-out;

    &:hover {
        transform: scale(1.03);
    }
}

.trans-cards {
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
        box-shadow: 2px 2px 2px 2px #00000069;
        background-color: rgb(241, 241, 241);
    }
}

/* ////////////////////////////////////////////////// */