/* ////////////////////////////////////////////////// */

/* media queries */
@media screen and (min-width: 1400px) {

    /* index.html */
    .about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}

@media screen and (max-width: 1280px) {

    /* viajesArg.html */
    .hero-viajesArg {
        background-size: inherit;
    }

    /* viajesInt.html */
    .hero-viajesInt {
        background-size: inherit;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 1060px) {

    .grid-container {
        grid-template-areas:
            "navbar"
            "main"
            "footer";
    }

    /* NavBar */
    .header nav .logo-size {
        @include sizes(50px ,50px );
    }

    .header nav a h1 {
        font-size: 2.5rem;
    }

    /* contacto.html */
    .contacto .form {
        margin-top: 100px;
    }

    /* opiniones.html */
    .opiniones .opinion {
        margin-top: 165px;
        width: 90vw;
    }

    .opinar .form {
        width: 85vw;
        align-content: unset;
    }

    /* Footer */
    .footer {
        grid-template-areas:
            "form"
            "redes"
            "desarrollador";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 150px;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 870px) {

    /* NavBar */
    .header nav a h1 {
        margin-left: 0px;
    }

    .header nav ul li a {
        margin-right: 0px;
        padding: 0px 0px;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 768px) {

    html {
        font-size: 55%;
    }

    /* NavBar */
    .header nav a h1 {
        margin-left: 10px;
    }

    /* contacto.html */
    .contacto .form {
        margin: 100px 0px 30px 0%;
        width: 95vw;
    }

    .contacto .form .phone-number {
        margin-top: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .contacto .form .area {
        margin-top: 5px;
    }

    .contacto .form .number {
        margin-top: 5px;
        width: 350px;
    }

    .contacto .form .phone-check {
        width: 55%;
        margin: 15px;
        flex-direction: column;
        align-items: flex-start;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }

    .contacto .form .phone-check p {
        margin-top: 5px;
    }

    .contacto .form .phone-check input {
        margin: 10px 0 10px 100px;
    }

    /* opiniones.html */
    .opiniones .opinion {
        margin-top: 100px;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 576px) {

    /* index.html */
    .cards-viajes {
        margin: 8px;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 480px) {

    html {
        font-size: 50%;
    }

    /* contacto.html */
    .contacto .form .number {
        width: 95%;
    }

    .contacto .form .consulta textarea {
        width: 95%;
    }

    /* opiniones.html */
    .opiniones .opinion {
        width: 98%;
        margin-bottom: 0px;
    }

    .opinar .form {
        width: 95%;
    }

    .opinar .form input {
        width: 80%;
    }

    .opinar .form .name {
        margin-top: 25px;
        flex-direction: column;
        align-items: flex-start;
    }

    .opinar .form .name .nomb {
        margin-top: 5px;
        width: 90%;
    }

    .opinar .form .name .ap {
        margin-top: 5px;
        width: 90%;
    }

    .opinar .form textarea {
        width: 90%;
    }

    /* Footer */
    .footer .formulario {
        @include sizes(auto ,96% );
    }

    .footer .contacto-redes {
        @include sizes(auto ,96% );
        margin: 5px;
    }
}

/* ////////////////////////////////////////////////// */

@media screen and (max-width: 320px) {

    /* contacto.html */
    .contacto .form {
        width: 100vw;
    }

    .contacto .form .number {
        width: 280px;
    }

    .contacto .form .phone-check {
        width: 90%;
    }
}