
//$background-color: background rgb(255, 255, 255) linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(220, 248, 255, 1) 100%);
// $background-color: rgb(162,239,255);
$background-color: rgb(208,247,255);
$background-color-gradient:  linear-gradient(180deg, rgba(208,247,255,1) 0%, rgba(255,255,255,1) 44%, rgba(210,248,255,1) 100%);
$nav-bar-color: #252a34a9;
$background-color-container: white;
$background-color-footer: steelblue;
$background-color-footer-container: #2a4e6c;
